* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    background: radial-gradient( #bff, #ffff);
    overflow: hidden;
    padding-top: 250px;
}

.stairs {
    position: relative;
    width: 300px;
    height: 270px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(250deg);
    animation: animate 40s infinite;
}

@keyframes animate {
    0% {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.stairs .base {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 300px;
    background: rgb(155, 105, 206);
    transform: rotateX(90deg) translateZ(-150px) scale(1.25);
    filter: blur(20px);
    opacity: 0.5;
}

.stairs .step {
    position: absolute;
    left: calc(60px * var(--j));
    bottom: 0;
    width: 60px;
    height: calc(60px * var(--j));
    /* background: chartreuse; */
    transform-style: preserve-3d;
}

.stairs .step::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 300px;
    background: pink;
    transform: rotateX(90deg) translateZ(150px);
}

.stairs .step:hover::before {
    filter: brightness(2.2);
    cursor: pointer;
}

.stairs .step::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 60px;
    background: plum;
    transform: rotateY(90deg) translateZ(-150px);
}

.stairs .step i {
    position: absolute;
    display: block;
    width: 60px;
    height: 100%;
    background: rgb(155, 105, 206);
    transform-style: preserve-3d;
}

.stairs .step i:nth-child(1) {
    transform: translateZ(150px);
}

.stairs .step i:nth-child(2) {
    transform: translateZ(-150px);
}

.stairs .step:last-child i:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: #bbff;
    transform: rotateY(90deg) translate3d(-150px, 0, -90px);
}